<main class="container">
  <div class="example-container mat-elevation-z8">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class ="mat-elevation-z8" matSort (matSortChange)="announceSortChange($event)" >
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header sortActionDescription="Trier par nom"> Nom </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.nom}} </td>
      </ng-container>

      <ng-container matColumnDef="matiere">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header sortActionDescription="Trier par matiere"> Matiere </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.matiere}} </td>
      </ng-container>

      <ng-container matColumnDef="dateDeRendu">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header sortActionDescription="Trier par date de rendu"> Date de rendu </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.dateDeRendu}} </td>
      </ng-container>

      <ng-container matColumnDef="rendu">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header sortActionDescription="Trier par rendu"> Rendu </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.rendu}} </td>
      </ng-container>

      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let assignment"><button (click)="openDialog(assignment)"><mat-icon>fullscreen</mat-icon></button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</main>