.paginationBtn {
  align-self: flex-start;
}

/* .mat-elevation-z8 {
  width: 970px;
  padding-left: 235px;
  padding-right: 235px;
  margin: 0;
} */

.example-container {
  margin: 0px 235px 0px 235px;
  height: 450px;
  max-width: 100%;
  overflow: auto;
}

.mat-form-field {
  margin: 10px;
  font-size: 16px;
  width: 98%;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;

}

mat-icon{
  font-size: 30px;
}
button {
  background-color: none;
  background: none;
  border: none;
  border: 50%;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  
}
.inscriptionBtn{ 
    background : #00446c;
    color : white;
    left : 15px;
}
